<form method="POST" role="form" action="/courses/store">
    <div class="mb-3">
        <label for="search-input" class="form-label">Tên khóa học</label>
        <input type="text" class="form-control" id="search-input" placeholder="Nhập từ khóa ..." name="name">
        <div class="form-text">-----</div>
    </div>
    <div class="mb-3">
        <label for="search-input" class="form-label">Ảnh</label>
        <input type="text" class="form-control" id="search-input" placeholder="Nhập từ khóa ..." name="image">
        <div class="form-text">-----</div>
    </div>
    <div class="mb-3">
        <label for="search-input" class="form-label">Mô tả</label>
        <input type="text" class="form-control" id="search-input" placeholder="Nhập từ khóa ..." name="description">
        <div class="form-text">-----</div>
    </div>
    <div class="mb-3">
        <label for="search-input" class="form-label">VideoId</label>
        <input type="text" class="form-control" id="search-input" placeholder="Nhập từ khóa ..." name="videoId">
        <div class="form-text">-----</div>
    </div>
    <button type="submit" class="btn btn-primary">Tạo khóa học</button>
</form>
